{% extends "layout.html" %}

{% block title%}
  NSE solution
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Rank</th>
                <th>EOD Price</th>
            </tr>
        </thead>

        <tbody>
            {% for row in solution_text %}
                <tr>
                    <td>{{ row.stock }}</td>
                    <td>{{ row.rank }}</td>
                    <td>{{ row.eod_price }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
